[submodule "tflite-micro-arduino-examples"]
	path = tflite-micro-arduino-examples
	url = https://github.com/pthomsen-ml/tflite-micro-arduino-examples.git
  branch = main
[submodule "tensorflow"]
  path = src/tensorflow
  url = https://github.com/pthomsen-ml/tensorflow.git
  branch = main
